
.table {
    width: 100%;
    .table-head {
        display: flex;
        justify-content: space-between;
        
        & > div {
            flex: 1;
            padding: 10px 20px;
           
        }
    }   
}

.table-row {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    color:white;
    div {
        flex: 1;
    }
    &:nth-child(2n) {
        background-color: $bg-tertiary;
    }
    &:visited {
        color: white;
    }
    a {
        text-decoration: none;
        color: white;
        &:visited {
            color: white;
        }
    }
    & > div {
        padding: 20px;
        
    }
}

.pagination {
    display: inline-block;
    li {

        display: inline-block;
        padding: 5px 10px;
        
        cursor: pointer;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
    }
    a:focus {
        outline: none;
    }
    a {
        padding: 5px 10px;
        border-radius: 5px;
    }
    .active {
        a {
            background-color: $bg-tertiary;
        }
        
    }
}

.page-count {
    display: inline-block;
}

.page-count {
    margin: 10px 0;
}

select {
    margin-left: 10px;
    display: inline-block;
    background-color: $bg-secondary;
    color: white;
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 5px 5px 5px;
    
}

.spaced {
    margin: 0 10px;
}
.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box {
    height: 30px;
    width: 200px;
    border-radius: 30px;
    background-color: $bg-tertiary;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 13px 10px;

    input {
        padding: 0;
        border:none;
        background: none;
        outline:none;
        width: 160px;
        font-size: 16px;
        line-height: 40px;
        color: $text-primary;
    }
    button {
        border-radius: 40px;
        color: white;
        background: none;
        border: none;
        font-size: 16px;
        &:focus {
            outline: none;
        }
        
    }
}

.min-rank {
    select {
        border: none
    }
}

.page-header {
    display: flex;
    justify-content: space-between;
}
.page-row {
    display: flex;
}
.container {
    display: flex;
    flex-basis: 33%;
}   

.container-head {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: $bg-secondary;
}

h1 {
    margin-top: 0;
}

.steam-profile {
    margin-right: 50px;
    width: 300px;
    background: $bg-secondary;
    border-radius: 5px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 20px;
    flex-direction: column;
    padding: 5px;
}