header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: $bg-secondary;
    display: flex;
    justify-content: space-between;
    & > div {
        padding: 10px;
    }

}

.avatar {
    width: 40px;
    border-radius: 40px;
}

.header-right {
    img {
        float: right;
    }
}
.user-info {
    float: left;
    margin-right: 10px;
    span {
        display: block;
        line-height: 20px;
    }
}

.header-left {
    font-size: 25px;
    line-height: 40px;
    font-weight: bolder;
    margin-left: 15px;
}