
.table {
    width: 100%;
    .table-head {
        display: flex;
        justify-content: space-between;
        
        & > div {
            flex: 1;
            padding: 10px 20px;
           
        }
    }
    .padded-table-head {
        padding: 0 0 6px;
    }
}

.table-row {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    color:white;
    div {
        flex: 1;
    }
    &:nth-child(2n) {
        background-color: $bg-tertiary;
    }
    &:visited {
        color: white;
    }
    a {
        text-decoration: none;
        color: white;
        &:visited {
            color: white;
        }
    }
    & > div {
        padding: 20px;
        
    }
}

.pagination {
    display: inline-block;
    li {

        display: inline-block;
        padding: 5px 10px;
        
        cursor: pointer;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
    }
    a:focus {
        outline: none;
    }
    a {
        padding: 5px 10px;
        border-radius: 5px;
    }
    .active {
        a {
            background-color: $bg-tertiary;
        }
        
    }
}

.page-count {
    display: inline-block;
}

.page-count {
    margin: 10px 0;
}

select {
   
    display: inline-block;
    background-color: $bg-secondary;
    color: white;
    border: none;
    outline: none;
    border-radius: 30px;
    
}

.spaced {
    margin: 0 10px;
}
.filters {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    select {
        margin-left: 10px;
        padding: 5px 5px 5px;
    }
}

.search-box {
    height: 30px;
    width: 200px;
    border-radius: 30px;
    background-color: $bg-tertiary;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 13px 10px;

    input {
        padding: 0;
        border:none;
        background: none;
        outline:none;
        width: 160px;
        font-size: 16px;
        line-height: 40px;
        color: $text-primary;
    }
    button {
        border-radius: 40px;
        color: white;
        background: none;
        border: none;
        font-size: 16px;
        &:focus {
            outline: none;
        }
        
    }
}

.filter {
    display: inline-block;
    margin-right: 20px;
    select {
        border: none;
        
    }
}

.page-header {
    display: flex;
    justify-content: space-between;
}
.page-row {
    margin-top: 10px;
    display: flex;
}
.container {
    display: flex;
    flex-basis: 33%;
}   

.container-head {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: $bg-secondary;
}

h1 {
    margin: 0;
}

.steam-profile {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    width: 300px;
    background: $bg-tertiary;
    border-radius: 5px;
    height: 50px;
    display: flex;
    
    padding: 10px;
    img {
        margin-left: 10px;
        width: 50px;
        height: 50px;
        border-radius: 50px;
    }
    
}

.steam-details {
    margin-left: 10px;
    span {
        margin-top: 2px;
        display: block;
    }
    .userid {
        font-size: 14px;
    }
}


.user-tile {
    position: relative;
    display: flex;
    flex-basis: 50%;
    background-color: $bg-tertiary;
    border-radius: 5px;
    padding: 10px;
    margin-right: 0.5%;
    .tile-info, .tile-edit {
        margin-left: 20px;
        margin-top: 0;
    }
    span {
        margin-top: 2px;
        display: block;
        &:nth-child(2n) {
            font-size: 15px;
            line-height: 25px;
        }
        select {
            height: 25px;
            padding: 5px 5px 5px;
        }

    }
    input {
        display: block;
        background-color: $bg-secondary;
        color: white;
        border: none;
        outline: none;
        border-radius: 30px;
        padding: 5px 5px 5px;
        &:checked ~ .icon-no-edit {
            display: none;
        }
        &:checked ~ .icon-edit {
            display: block;
        }
    }
    .icon-edit {
        display: none;
    }
    
    input[type="checkbox"] {
        position: absolute;
        top: 0;
        right: 0px;
        width: 25px;
        height: 25px;
        opacity: 0;
        z-index: 20;
        &:hover {
            & ~ .icon-no-edit {
                color: white;
            }
            & ~ .icon-edit {
                color: white;
            }
            
        }
    }
   
    
    .icon-edit, .icon-no-edit {
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 10;
        font-size: 20px;
        color: $bg-secondary
    }
}

.tile-large {
    flex-basis: 100%;
}

.tile-icon {
    margin-top: 5px;
    color: white;
    font-size: 90px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.user-info-tab {
    flex-basis: 50%;
    margin: 0 0.5%;
    max-height: 600px;
    overflow-y: auto;
}

.dropdown {
    width: 150px;
    padding: 5px 5px 5px;
}

.add-btn {
    font-size: 15px;
    appearance: none;
    border: none;
    color: white;
    background-color: Transparent;
    background-repeat:no-repeat;
    margin-left: 10px;
    &:focus {
        outline: none;
    }
}

.nowrap {white-space: nowrap;}

.delete-btn {
    cursor: pointer;
}

